body{
	padding-left: 20px;
	padding-right: 20px;
	/*background-image: url(bg.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
}
.main{
	display: flex;
}
.name{
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
}
.heading{
	font-weight: normal;
}
.img{
	text-align: center;
	margin-right: 5%;
	margin-left: 20%;
}
img{
	height: 340px;
	width: 360px;

}
form{
	font-family: serif;
	margin-left: 20%;
	font-size: 20px;
}
input{
	display: block;
	margin: 10px;
}
.btns{
	display: block;
	margin-left: 40%;
}
#file{
	font-size: 20px;
	padding: 5px;
	text-align: center;
	margin-left: -46%;
	border: 2px solid #0040ff;
	border-radius: 10px;
}
.btn{
	border: none;
	padding: 8px;
	margin: 5px;
	display: block;
	font-size: 20px;
	border-radius: 10px;
	background-color: #0040ff;
	color: white;
}
.btn:hover{
	cursor: pointer;
	background-color: #0000ff;
}
.btn2{
	width: 80px;
}
#save{
	text-decoration: none;
}